@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-regular-l-font-family: "Inter", Helvetica;
  --body-regular-l-font-size: 18px;
  --body-regular-l-font-style: normal;
  --body-regular-l-font-weight: 400;
  --body-regular-l-letter-spacing: 0px;
  --body-regular-l-line-height: 26px;
  --display-display-s-font-family: "Helvetica Neue", Helvetica;
  --display-display-s-font-size: 61px;
  --display-display-s-font-style: normal;
  --display-display-s-font-weight: 900;
  --display-display-s-letter-spacing: -2.44px;
  --display-display-s-line-height: 64px;
  --display-display-XL-font-family: "Helvetica Neue", Helvetica;
  --display-display-XL-font-size: 119px;
  --display-display-XL-font-style: normal;
  --display-display-XL-font-weight: 700;
  --display-display-XL-letter-spacing: -2.38px;
  --display-display-XL-line-height: 120.00000762939453%;
  --shadow-2xl: 0px 24px 48px -12px rgba(10, 13, 18, 0.18);
  --heading-font-family: "Helvetica Neue", Helvetica;
  --heading-font-weight: 700;
  --heading-font-style: normal;
  --studio-smalt-font-family: "Helvetica Neue", Helvetica;
  --studio-smalt-font-size: 27px;
  --studio-smalt-font-style: normal;
  --studio-smalt-font-weight: 700;
  --studio-smalt-letter-spacing: -1.0800000429153445px;
  --studio-smalt-line-height: 32.400001525878906px;
  --text-emphasis-m-font-family: "Inter", Helvetica;
  --text-emphasis-m-font-size: 16px;
  --text-emphasis-m-font-style: normal;
  --text-emphasis-m-font-weight: 700;
  --text-emphasis-m-letter-spacing: 0px;
  --text-emphasis-m-line-height: 120.00000762939453%;
  --text-emphasis-XL-font-family: "Inter", Helvetica;
  --text-emphasis-XL-font-size: 20px;
  --text-emphasis-XL-font-style: normal;
  --text-emphasis-XL-font-weight: 700;
  --text-emphasis-XL-letter-spacing: 0px;
  --text-emphasis-XL-line-height: 32px;
  --text-regular-l-font-family: "Inter", Helvetica;
  --text-regular-l-font-size: 18px;
  --text-regular-l-font-style: normal;
  --text-regular-l-font-weight: 400;
  --text-regular-l-letter-spacing: 0px;
  --text-regular-l-line-height: 120.00000762939453%;
  --text-regular-m-font-family: "Inter", Helvetica;
  --text-regular-m-font-size: 16px;
  --text-regular-m-font-style: normal;
  --text-regular-m-font-weight: 400;
  --text-regular-m-letter-spacing: 0px;
  --text-regular-m-line-height: 120.00000762939453%;
  --ttile-title-m-font-family: "Helvetica Neue", Helvetica;
  --ttile-title-m-font-size: 25px;
  --ttile-title-m-font-style: normal;
  --ttile-title-m-font-weight: 700;
  --ttile-title-m-letter-spacing: 0px;
  --ttile-title-m-line-height: 120.00000762939453%;
  --whites-white-75: rgba(255, 255, 255, 0.75);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: transparent;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}
